* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* 顯示從Home得到的查詢日期 */
.datePickerValue {
    position: absolute;
    top: 30px;
    left: 20px;
    font-size: 40px;
}


/* --------------------------------------------------------------------------------------------------------------------------------------------------- */
/* 以下是整體功能 */
.total {
    margin-top: 20px;
}

/* 1. 下拉式選單 */
.droplist {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
}

.select-menu {
    width: 680px;
    margin-top: 100px;
    border: 2px solid;
}

.select-menu .select-btn {
    display: flex;
    height: 55px;
    background: hsl(0, 100%, 100%);
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    /* border-radius: 8px; */
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.select-btn .sBtn-img {
    width: 50px;
    transition: 0.3s;
}

.select-menu.active .select-btn i {
    transform: rotate(-180deg);
}

.select-menu.active {
    border-bottom: 1px solid;
}

.select-menu .options {
    position: absolute;
    padding: 20px;
    margin-top: 10px;
    background: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    display: none;
}

.select-menu.active .options {
    display: block;
    border: 2px solid;
    border-top: none;
    margin-top: 5px;
    width: 380px;
}

.options .option {
    display: flex;
    cursor: pointer;
    height: 55px;
    background: #ffffff;
    align-items: center;
    padding: 0 16px;
    margin-top: 10px;
    border-radius: 8px;
    border: 1px solid;

}

/* 當鼠標停在選項上時 */
.options .option:hover {
    background: #F2F2F2;
}

.option .option-text {
    font-size: 18px;
    color: #333;
}

/* 2. 查詢介面 */
.query {
    margin-top: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 3800 px;
    height: 58px;
    border: 2px solid;
    border-left: none;
}

.query .queryButton {
    cursor: pointer;
    border: none;
    background-color: white;
}

.query .queryButton:disabled {
    cursor: default;
    border: none;
    background-color: rgb(218, 218, 218);
}

.query .queryImage {
    width: 50px;
}

/* 未查詢時的介面 */
.query .blank {
    width: 400px;
    height: 58px;
    padding-left: 10px;
    border: 2px solid;
    border-left: none;
}

/* 查詢教室介面 */
.query .inputClassRoomName {
    display: none;
    width: 400px;
    height: 58px;
    padding-left: 10px;
    border: 2px solid;
    border-left: none;
    font-size: 35px;
}

/* 查詢時段介面 */
.query .inputTimeInterval {
    display: none;
    position: flex;
    width: 400px;
    height: 58px;
    border: 2px solid;
    border-left: none;
    justify-content: center;
    align-items: center;
}

.time {
    border: none;
    border-bottom: 2px solid lightgray;
    width: 160px;
    height: 30px;
}
/*調整指標*/
.time:hover {
    cursor: pointer;
}
/*取消方框*/
.time:focus {
    outline: none;
}
.time:disabled {
    cursor: default;
    background-color: #ccc;
}
.selectTime {
    position: relative;
    width: 160px;
}
.selectTime:nth-child(1) {
    margin-right: 10px;
}
.selectTime:nth-child(2) {
    margin-left: 10px;
}
.selectTime::before {
    position: absolute;
    background-image: url("../image/dropdownIcon.png");
    background-size: 25px 25px;
    pointer-events: none;
    top: 2px;
    right: 1px;
    width: 25px;
    height: 25px;
    content: "";
}

/* 時間列表 */
.dropdownStart,
.dropdownEnd {
    position: absolute;
    display: none; /* 初始隱藏下拉列表 */
    width: 100%;
}
.startList,
.endList {
    list-style: none;
    font-size: 18px;
    background-color: white;
    z-index: 1;
    height: 150px;
    overflow-y: scroll;
}
.startList li,
.endList li {
    text-align: center;
    padding-block: 5px;
    border-bottom: 2px solid lightgray;
    border-inline: 2px solid lightgray;
}
.startList li:hover,
.endList li:hover {
    cursor: pointer;
    background-color:rgb(90, 163, 223);
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------- */
/* 查詢結果 */
.content-container {
    width: 1132px;
    max-height: 80%;
    /* 設定最大高度，超過部分會出現滾動條 */
    overflow-y: hidden;
    /* 啟用垂直滾動條 */
    border: 2px solid black;
    padding: 20px;
    margin: 0 auto;
}

.content-container .text {
    display: flex;
    flex-wrap: wrap;
}

/* 中間的間隔 */
.gap {
    margin-right: 200px;
    margin-left: 200px;
}

/* 換行 */
.text .wrap {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #000;
}

/* 教室名稱(文字) */
.classroomName {
    width: 70px;
    text-decoration: underline;
    /*加底線*/
    cursor: pointer;
    /* 讓游標變成手指 */
}

/* 借用狀態Bar */
.totalBar {
    /* 總共100 * 5.5(放大倍數) */
    width: 550px;
    background-color: #ccc;
    height: 20px;
    border-radius: 30px;
}

.nowState-bar {
    /* 占30% * 5.5(放大倍數) */
    width: 165px;
    height: 100px;
    height: 20px;
    background-color: #4CAF50;
    border-radius: 20px;
    text-align: center;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------- */
/* 彈跳視窗 */

/* 彈跳視窗的樣式(預設為關閉) */
.popup {
    width: 600px;
    max-height: 80%;
    /* 設定最大高度，超過部分會出現滾動條 */
    overflow-y: auto;
    /* 啟用垂直滾動條 */
    display: none;
    /* 初始時隱藏 */
    background-color: white;
    border-radius: 6px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 30px 30px;
    border: 2px solid #000;
}

.open-popup {
    display: block;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

/* 關閉按鈕 */
.popup .close {
    width: 50px;
    height: 50px;
    border: transparent;
    background: transparent;

    position: absolute;
    top: 10px;
    right: 10px;

}

/* 關閉按鈕圖片 */
.popup .close img {
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}

.popup h1 {
    margin-top: 30px;
}

.popup .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.popup span{
    padding-top: 10px;
}
.popup .content .wrap {
    width: 100%;
    border-bottom: 1px solid #000;
}

.classroomState {
    text-decoration: underline;
    /*加底線*/
    cursor: pointer;
    /* 讓游標變成手指 */
}