* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    /* background-color: #96e1ff; */
}

/* 側欄容器 */
nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: rgba(210, 210, 210, 0.2);
    border-right: 1px solid #e6e5e5;
    text-shadow: 0px 15px 5px rgba(0,0,0,0.1),  10px 20px 5px rgba(0,0,0,0.04),-10px 20px 5px rgba(0,0,0,0.04);
    transition: all 0.5s ease;
}

nav.close {
    width: 73px;
}

/* 左上半部欄位 */
nav .logo-name {
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid;
    
}

nav .logo-image {
    display: flex;
    justify-content: center;
    min-width: 45px;
}

nav .logo-image img {
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}

nav .logo-name .logo_name {
    font-size: 22px;
    font-weight: 600;
    color: #000;
    margin-left: 14px;
    transition: all 0.5s ease;
}

nav.close .logo_name {
    opacity: 0;
    pointer-events: none;
}

nav .menu-items {
    margin-top: 20px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: solid; */
}

.menu-items button {
    border: none;
    cursor: pointer;
    width: 221px;
}

.menu-items li {
    list-style: none;
}

.menu-items li button:hover {
    background-color: white;
    border-radius: 20px;
}

.menu-items li button {
    display: flex;
    align-items: center;
    height: 60px;
    text-decoration: none;
    position: relative;
}

.nav-links li button:hover:before {
    content: "";
    position: absolute;
    left: -7px;
    height: 50px;
    width: 5px;
    /* border-radius: 50%; */
    background-color: rgb(255, 7, 7);
}

.nav-links li button:hover i,
.nav-links li button:hover .link-name {
    color: rgb(255, 0, 0);
}

.menu-items li button i {
    font-size: 24px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #70707071;
}

.menu-items li button .link-name {
    padding-left: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    transition: all 0.2s ease;
}


nav.close li button .link-name {
    opacity: 0;
    pointer-events: none;
}
/* 右下方欄位 */
.board {
    position: relative;
    left: 250px;
    background-color: #ffffff;
    min-height: 100vh;
    width: calc(100% - 250px);
    padding: 10px 14px;
    transition: all 0.5s ease;
}

nav.close~.board {
    left: 73px;
    width: calc(100% - 73px);
}

/* 右上方欄位 */
.board .top {
    position: fixed;
    top: 0;
    left: 250px;
    display: flex;
    width: calc(100% - 250px);
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    background-color: rgb(255, 255, 255);
    transition: all 0.5s ease;
    z-index: 10;

}

nav.close~.board .top {
    left: 73px;
    width: calc(100% - 73px);
}

.board .top .sidebar-toggle {
    font-size: 26px;
    color: #000;
    cursor: pointer;
}

.top img {
    width: 40px;
    /*border-radius: 50%;*/
}

.leftArrow.show {
    transform: rotate(180deg);
}


/* 借用請求-------------------------------------------------------------------- */

.borrowRequest {
    display: none;
}

.borrowRequest.show {
    display: block;
}



.conditions {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
}
.conditions button
{
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 600;
    background-color: white;
    cursor: pointer;
    border: 3px solid;
}
.conditions button:hover{
    background-color: #e5e5e5;
}

.immediately {
    height: 100%;
    width: 50%;
}
.immediately.show{
    background-color: rgb(255, 159, 57);
}
.immediately.show:hover{
    background-color: rgb(255, 159, 57);
}
.immediatelyForm {
    display: none;
    margin-top: 20px;
}

.immediatelyForm.show {
    display: block;
}

.reserve {
    height: 100%;
    width: 50%;
}
.reserve.show{
    background-color: rgb(255, 159, 57);
}
.reserve.show:hover{
    background-color: rgb(255, 159, 57);
}
.reserveForm {
    display: none;
    margin-top: 20px;
    ;
}

.reserveForm.show {
    display: block;
}

/* 借用請求 -> 共用屬性-------------------------------------------------------------------- */

.content {
    border: solid;
    border-radius: 20px;
}

.title {
    display: flex;
    font-size: 30px;
}

.title p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    width: 100%;
    /* border: solid; */
}

.title img {
    margin-top: 10px;
    margin-left: auto;
    transition: all 0.4s ease;

    transform: rotate(0deg);

}

.title img:hover {
    cursor: pointer;
}

.title img.show {
    margin-top: 10px;
    margin-left: auto;
    transition: all 0.4s ease;
    transform: rotate(180deg);
}

.text {
    display: none;
    /* border: solid; */
}

.text.show {

    display: flex;
    flex-direction: column;
    margin-left: 30px;

    font-size: 20px;
}

.accounting {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 99%;
    border-top: solid;
    padding-top: 10px;
    margin-top: 10px;
}

.accounting p {
    width: 50%;
    padding: 5px;
    padding-bottom: 10px;
    font-size: 20px;
    /* border: solid; */
}

.accounting button {
    width: 45%;
    margin-right: 5%;
    margin-bottom: 10px;
    margin-top: 10px;

    font-size: 20px;
    cursor: pointer;
    border: solid;
}

.accounting button:hover {
    background-color: rgb(247, 188, 11);
}


/* 鑰匙借用紀錄-------------------------------------------- */
.board-content {
    margin-top: 100px;
    margin-left: 10px;
}


.keyRecord {
    display: none;
}

.keyRecord.show {
    display: block;
}

.keyRecordTitle {
    display: flex;
    justify-content: space-between;
    font-size: 30px !important;
    border-bottom: 1px solid;
    padding-bottom: 10px;
}

.keyRecordContent {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    font-size: 25px !important;
    /* border: solid; */
}

.keyRecordContent:hover {
    background-color: red;
}

/* 課表排程-------------------------------------------- */
.board-content {
    margin-left: 10px;
}

.classSchedule {
    display: none;
}

.classSchedule.show {
    display: block;
}


.fastAddForm {
    display: none;
    margin-top: 20px;
}

.fastAddForm.show{
    display: block;
}

.classAddForm {
    display: none;
    margin-top: 20px;
}

.classAddForm.show{
    display: block;
}

/*快速新增*/
/* Add some basic styling to the form container */
.fastAddForm {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.fastAddForm .classScheduleTitle {
    border-bottom: 1px solid;
    display: flex;
    flex-direction: column;
    font-size: 30px !important;
    border-bottom: 1px solid;
    padding-bottom: 10px;
}

/* Style the form title */
.fastAddForm h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

/* Style the form inputs and labels */
.fastAddForm div {
    margin-bottom: 15px;
}

.fastAddForm input[type="text"],
.fastAddForm input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-right: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 24px;
    text-align: center;
}

.fastSelectRoom::after,
.fastSelectLesson::after {
    background-image: url("../../image/dropdownIcon48.png");
    background-size: 25px 25px;
    width: 25px;
    height: 25px;
    content: '';
    position: absolute;
    pointer-events: none;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    transition: transform 0.3s;
}

.fastSelectRoom.checked::after,
.fastSelectLesson.checked::after {
    transform: rotate(180deg) translateY(50%);
}

.fastAddForm .fastSelectRoom,
.fastAddForm .fastSelectLesson {
    position: relative;
}

.fastAddForm .fastDropdownBox:hover {
    cursor: pointer;
}

.fastAddForm .fastDropdownBox:focus {
    outline: none;
}

.fastAddForm .fastDropdown {
    border: 2px solid lightgray;
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 200px;
    display: none;
    overflow-y: scroll;
    background-color: white;
}

.fastAddForm .fastDropdown.show {
    display: block
}

.fastAddForm .fastDropdown ul{
    list-style: none;
}

.fastAddForm .fastDropdown li{
    text-align: center;
    background-color: white;
    padding-block: 5px;
    border-bottom: 2px solid lightgray;
}

.fastAddForm .fastDropdown li:hover{
    cursor: pointer;
    background-color: rgb(90, 163, 223);
}

/* Style the submit button */
.fastAddForm #fastSubmit {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 60px;
    margin-left: auto;
    margin-right: 8px;
}

.fastAddForm #fastSubmit:hover {
    background-color: #45a049;
}

/* Optional: Style the datePicker input */
.fastAddForm #datePicker {
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 46px;
}

/*課表新增*/
/* Add some basic styling to the form container */
.classAddForm {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.classAddForm .classScheduleTitle,
.classAddForm .classSchedulePage {
    width: 50%;
    border-bottom: 1px solid;
    display: flex;
    flex-direction: column;
    font-size: 30px !important;
    border-bottom: 1px solid;
    padding-bottom: 10px;
}

.classScheduleBody {
    display: flex;
    flex-direction: row;
}

/* Style the form title */
.classAddForm h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

/* Style the form inputs and labels */
.classAddForm div {
    margin-bottom: 15px;
}

.classAddForm input[type="text"],
.classAddForm input[type="date"] {
    width: 98.5%;
    padding: 8px;
    margin-right: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 24px;
    text-align: center;
}

.classSelectRoom::after,
.classSelectLesson::after,
.classSelectWeek::after {
    background-image: url("../../image/dropdownIcon48.png");
    background-size: 25px 25px;
    width: 25px;
    height: 25px;
    content: '';
    position: absolute;
    pointer-events: none;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    transition: transform 0.3s;
}

.classSelectRoom.checked::after,
.classSelectLesson.checked::after,
.classSelectWeek.checked::after {
    transform: rotate(180deg) translateY(50%);
}

.classAddForm .classSelectRoom,
.classAddForm .classSelectLesson,
.classAddForm .classSelectWeek {
    position: relative;
}

.classAddForm .classDropdownBox:hover {
    cursor: pointer;
}

.classAddForm .classDropdownBox:focus {
    outline: none;
}

.classAddForm .classDropdown {
    border: 2px solid lightgray;
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 200px;
    display: none;
    overflow-y: scroll;
    background-color: white;
}

.classAddForm .classDropdown.show {
    display: block
}

.classAddForm .classDropdown ul{
    list-style: none;
}

.classAddForm .classDropdown li{
    text-align: center;
    background-color: white;
    padding-block: 5px;
    border-bottom: 2px solid lightgray;
}

.classAddForm .classDropdown li:hover{
    cursor: pointer;
    background-color: rgb(90, 163, 223);
}

/* Style the submit button */
.classAddForm #classSubmit {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 60px;
    margin-left: auto;
    margin-right: 8px;
}

.classAddForm #classSubmit:hover {
    background-color: #45a049;
}

.classAddForm #semesterSelectStart,
.classAddForm #semesterSelectEnd {
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
    height: 46px;
}
.classAddForm #semesterSelectEnd {
    margin-bottom: 0px;
}

.classScheduleTitle h1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.classScheduleContent {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-size: 25px !important;
    /* border: solid; */
}

.classSchedule table{
    border-collapse: collapse; /* 合併邊框，只顯示內邊框 */
    margin-top: 10px;
}
.classSchedule .addBlock{
    display: flex;
    flex-direction: column;
    font-size: 10px;
}
.classSchedule span{
    margin-right:auto;

}

.classSchedule button{
    width: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* 教室搜尋-------------------------------------------- */
.board-content {
    margin-top: 100px;
    margin-left: 10px;
}

.classroomInquiry {
    display: none;
}

.classroomInquiry.show {
    display: flex;
    flex-direction: column;
}

.classroomInquiryTitle h1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.classroomInquiryContent {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-size: 25px !important;
}

.classroomInquiryContent button{
    width: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}