* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(216, 239, 255);
    margin-top: 40px;
    width: 100vw;
}

/* 按鈕選擇---------------------------------------------- */
.conditions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 70vw;
    border: solid;
    box-shadow: 2px 2px 10px #06C;
}

.conditions button {
    width: 50%;
    font-size: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 600;
    background-color: rgb(236, 236, 236);
    opacity: 0.4;
    border: 3px solid;
}

.immediately.show {
    background-color: rgb(255, 159, 57);
    opacity: 1;

}

.reserve.show {
    background-color: rgb(255, 159, 57);
    opacity: 1;

}


/* 表單---------------------------------------------- */

.form-container {
    width: 70vw;
    background-color: white;
    box-shadow: 2px 2px 10px #06C;
    /* border-bottom-left-radius: 15px; */
    /* border-bottom-right-radius: 15px; */
    border: solid;
}

.content {
    margin-left: 20px;
    margin-right: 10px;
    padding: 0;
}

.content h5 {
    display: flex;
    flex-direction: row;
    margin: 0;
    margin-bottom: 10px;
    padding-top: 15px;
    padding-left: 10px;
    font-size: 60px;
    /* border: solid; */
}

.date {

    display: flex;
    flex-direction: row;
    margin-left: auto;
    padding-top: 30px;
    padding-right: 10px;

    font-size: 30px !important;
}

.line_block {
    height: 30%;
    padding-bottom: 20px;
    /* border: solid; */
}

.line_block img {
    width: 6%;

    padding-right: 15px;
    padding-top: 10px;
    /* border: solid; */

}

.line_block span {
    font-size: 60px;
    /* border: solid; */

}

.line_block sup {
    font-size: 20px;
}


.quention_text {
    width: 100%;
    height: 100% !important;
    margin: 0;
    font-size: 30px !important;
}

textarea {
    width: 95%;
    height: 90px;
    margin-top: 10px;
    padding-bottom: 10px;
    resize: none;
    outline: none;
    border: 1px solid #aaa;

    font-size: 30px;
}

input {
    width: 70%;
    font-size: 30px;
}

hr {
    margin: 20px;
    margin-left: 0;
}

.YesOrNo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;

}

.YesOrNo button {
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 40px;
    cursor: pointer;
}