* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

button {
    border: none;
    cursor: pointer;
    width: 221px;
}

body {
    min-height: 100vh;
    /* background-color: #96e1ff; */
}

/* 側欄容器 */
nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: #4870ea;
    border-right: 1px solid #e6e5e5;
    text-shadow: 0px 15px 5px rgba(0, 0, 0, 0.1), 10px 20px 5px rgba(0, 0, 0, 0.04), -10px 20px 5px rgba(0, 0, 0, 0.04);
    transition: all 0.5s ease;
}

nav.close {
    width: 73px;
}

/* 左上半部欄位 */
nav .logo-name {
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-bottom: solid;

}

nav .logo-image {
    display: flex;
    justify-content: center;
    min-width: 45px;
}

nav .logo-image img {
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
}

nav .logo-name .logo_name {
    font-size: 30px;
    font-weight: 600;
    color: #000;
    margin-left: 14px;
    transition: all 0.5s ease;
}

nav.close .logo_name {
    opacity: 0;
    pointer-events: none;
}

nav .menu-items {
    margin-top: 20px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: solid; */
}

.menu-items li {
    list-style: none;
}

.menu-items li button {
    background-color: #4870ea;
    border-radius: 20px;
}

.menu-items li button:hover {
    background-color: rgb(255, 252, 252);
    border-radius: 20px;
}

.menu-items li button {
    display: flex;
    align-items: center;
    height: 60px;
    text-decoration: none;
    position: relative;
}

.nav-links li {
    margin-top: 10px;
}

.nav-links li button:hover:before {
    content: "";
    position: absolute;
    left: -7px;
    height: 50px;
    width: 5px;
    /* border-radius: 50%; */
    background-color: rgb(255, 201, 7);
}

.nav-links li button:hover i,
.nav-links li button:hover .link-name {
    color: rgb(255, 200, 0);
}

.menu-items li button i {
    font-size: 24px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #70707071;
    margin-left: 5px;
}

.menu-items li button .link-name {
    padding-left: 20px;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    transition: all 0.2s ease;
}


nav.close li button .link-name {
    opacity: 0;
    pointer-events: none;
}

.menu-items .logout-mode {
    padding-top: 10px;
    border-top: 1px solid rgb(77, 63, 3);
}


.menu-items .logout-mode li button:hover {
    background-color:rgba(91, 89, 89, 0.607) !important;
}


/* 右方欄位-------------------------------------------- */
.board {
    position: relative;
    left: 250px;
    background-color: #f3f2f2;

    min-height: 100vh;
    width: calc(100% - 250px);
    transition: all 0.5s ease;
}

nav.close~.board {
    left: 73px;
    width: calc(100% - 73px);
}

/* 右上方欄位-------------------------------------------- */

.board-top {
    height: 7vh;
    display: flex;
    /* background-color: #ffffff; */
    /* border: solid; */

}
.board-top a{
    margin-left: auto;
    text-decoration: none;
}

.board-top img {
    max-width: 100%; /* 圖片寬度不超過容器的寬度 */
    max-height: 100%; /* 圖片高度不超過容器的高度 */
    height: auto; /* 保持原始比例 */
    width: auto; /* 保持原始比例 */
    margin-right: 15px;
    padding-top: 15px;
    padding-left: 5px;
}

/* 右下方欄位-------------------------------------------- */
.board-content {
    margin-left: 10px;
    /* background-color: #ffffff; */

}

/* 編輯使用者資訊-------------------------------------------- */

.userInformation {
    display: none;
    /* border: solid; */
}

.userInformation.show {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.boardTitle {
    display: flex;
    width: 80%;
    margin-right: auto;
    margin-left: 5%;
    padding-bottom: 10px;

    font-weight: 600;
    font-size: 30px;

}

.hr {
    border-bottom: 1px solid;
    margin-bottom: 5px;
}

.userInformation .userInformationContent {
    display: flex;
    flex-direction: column;
    margin-left: 15% !important;

}

.quention_text {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    margin-top: 20px;

    font-weight: 600;
    font-size: 25px;
}

.userInformation .userInformationContent input {
    /* margin-left: 10px; */
    width: 50%;
    font-size: 30px;
    border-radius: 10px;
}

.verification-button {
    width: 80px;
    margin-left: 10px;
    background-color: rgba(220, 84, 84, 0.607) !important;
    color: white;

    border-radius: 10px;
    text-decoration: none;

    font-weight: 600;
    font-size: 25px;

}

.saveUserInformation {
    width: 80px;
    margin-top: 15px;

    background-color: rgba(220, 84, 84, 0.607) !important;
    color: white;

    border-radius: 5px;
    text-decoration: none;

    font-weight: 600;
    font-size: 25px;
}

/* //////////////////////////////////////////////// */
.Applyrequest {
    display: none;
    margin-top: 20px;
}

.Applyrequest.show {
    display: block;
}

.content {
    border: solid;
    margin: 10px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}

.title {
    display: flex;
    font-size: 30px;
}

.title p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    width: 100%;
    /* border: solid; */
}

.title img {
    margin-top: 10px;
    margin-left: auto;
    transition: all 0.4s ease;

    transform: rotate(0deg);

}

.title img:hover {
    cursor: pointer;
}

.title img.show {
    margin-top: 10px;
    margin-left: auto;
    transition: all 0.4s ease;
    transform: rotate(180deg);
}

.text {
    display: none;
    /* border: solid; */
}

.text.show {

    display: flex;
    flex-direction: column;
    margin-left: 30px;

    font-size: 20px;
}

.ApplyrequestText {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 99%;
    border-top: solid;
    padding-top: 10px;
    margin-top: 10px;
}

.ApplyrequestText p {
    width: 50%;
    padding: 5px;
    padding-bottom: 10px;
    font-size: 20px;
    /* border: solid; */
}

.ApplyrequestText button {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;

    font-size: 20px;
    /* border: solid; */
}

.ApplyrequestText .accounting {
    background-color: red;
}

.ApplyrequestText .ok {
    background-color: rgb(26, 255, 26);
}